<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inet.code.mapper.ProductionMapper">
    <!--分页查看项目的状态-->
    <select id="getUserPage" resultType="com.inet.code.entity.production.vo.ProductionUsersView">
        SELECT
            production.production_uuid AS productionUuid,
            production.production_cover AS productionCover,
            production.production_url AS productionUrl,
            production.production_name AS productionName,
	        (SELECT COUNT(*) FROM tbl_assist AS assist WHERE assist.assist_production_id = production_uuid) AS likeTotal
        FROM
            tbl_production AS production
            LEFT JOIN tbl_user AS users ON production.production_user_email = users.user_email
        WHERE users.user_email = #{userEmail}
        <if test="issue != null">
            AND production.production_issue = 0
        </if>
        ORDER BY production.gmt_create DESC
    </select>

    <!--展示点赞数排名前五的项目-->
    <select id="getListFive" resultType="com.inet.code.entity.production.vo.ProductionUserLikeFiveView">
        SELECT
            production.production_uuid AS productionUuid,
            production.production_cover AS productionCover,
            production.production_url AS productionUrl,
            production.production_name AS productionName,
            users.user_buddha AS userBuddha,
            users.user_name AS userName,
            (SELECT COUNT(*) FROM tbl_assist AS assist WHERE assist.assist_production_id = production_uuid) AS likeTotal
        FROM
            tbl_production AS production
            LEFT JOIN tbl_user AS users ON production.production_user_email = users.user_email
        WHERE production.production_issue = TRUE
        ORDER BY likeTotal DESC , production.gmt_create DESC LIMIT 5;
    </select>

    <!--访客项目，在访客模式下可以查看十个点赞数目多的项目-->
    <select id="getListTen" resultType="com.inet.code.entity.production.vo.ProductionUserLikeFiveView">
        SELECT
            production.production_uuid AS productionUuid,
            production.production_cover AS productionCover,
            production.production_url AS productionUrl,
            production.production_name AS productionName,
            users.user_buddha AS userBuddha,
            users.user_name AS userName,
            (SELECT COUNT(*) FROM tbl_assist AS assist WHERE assist.assist_production_id = production_uuid) AS likeTotal
        FROM
            tbl_production AS production
                LEFT JOIN tbl_user AS users ON production.production_user_email = users.user_email
        WHERE production.production_issue = TRUE
        ORDER BY likeTotal DESC , production.gmt_create DESC LIMIT 10;
    </select>

    <!--通过项目的序号查询到项目的实体类-->
    <select id="getViewProduction" resultType="com.inet.code.entity.production.vo.ProductionView">
        SELECT
            production.production_uuid AS productionUuid,
            production.production_name AS productionName,
            production.production_cover AS productionCover,
            production.production_url AS productionUrl,
            production.production_remark AS productionRemark,
            production.production_oi AS productionOi,
            production.production_recompose AS productionRecompose,
            production.gmt_modified AS gmtModified,
            types.type_name AS productionTypeName,
            (
                SELECT
                    COUNT(*)
                FROM
                    tbl_assist AS assist
                WHERE
                    assist.assist_production_id = production.production_uuid
            ) AS likeTotal
        FROM
            tbl_production AS production
                LEFT JOIN tbl_type AS types ON types.type_uuid = production.production_type_uuid
        WHERE production.production_uuid = #{productionId}
        LIMIT 1;
    </select>

    <!--获取新增项目的序号-->
    <select id="getByEntity" resultType="java.lang.String">
        SELECT
            production.production_uuid
        FROM
            tbl_production AS production
        WHERE
            production.production_cover = #{productionCover}
            AND
            production.production_url = #{productionUrl}
        LIMIT 1;
    </select>
    <!--通过用户名字搜索项目-->
    <select id="getSearchProduction" resultType="com.inet.code.entity.production.vo.ProductionView">
        SELECT
            production.production_uuid AS productionUuid,
            production.production_name AS productionName,
            production.production_cover AS productionCover,
            users.user_name AS userName,
            users.user_buddha AS userBuddha,
            (
                SELECT COUNT(*) AS likeTotal FROM tbl_assist AS assist WHERE assist.assist_production_id = production.production_uuid
            ) AS likeTotal
        FROM
            tbl_production AS production
                LEFT JOIN tbl_type AS types ON types.type_uuid = production.production_type_uuid
                LEFT JOIN tbl_user AS users ON users.user_email = production.production_user_email
        WHERE production.production_issue = TRUE AND production.production_name LIKE #{productionName};
    </select>


</mapper>
